.App {
  text-align: center;
  background: rgb(85,120,144);
  background: rgb(85,120,144);
  background: rgb(85,120,144);
  background: rgb(85,120,144);
  background: -moz-linear-gradient(165deg, rgba(85,120,144,0.4962359943977591) 0%, rgba(209,231,246,1) 27%, rgba(213,230,242,1) 74%, rgba(85,120,144,1) 100%);
  background: -webkit-linear-gradient(165deg, rgba(85,120,144,0.4962359943977591) 0%, rgba(209,231,246,1) 27%, rgba(213,230,242,1) 74%, rgba(85,120,144,1) 100%);
  background: linear-gradient(165deg, rgba(85,120,144,0.4962359943977591) 0%, rgba(209,231,246,1) 27%, rgba(213,230,242,1) 74%, rgba(85,120,144,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#557890",endColorstr="#557890",GradientType=1);
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 105;
}

.logo {
  font-size: 25px;
  color: #282c34;
  font-weight: 500;
}

.button{
  color:rgb(96, 102, 117);
}
.button:hover {
  color: black;
} 

/* For Body Content fade-in Animation*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in forwards; /* animation duration (2s) as needed */
}

/* For Header Content slide-in down Animation*/
@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.slide-in-down {
  animation: slideInDown 1s ease-in-out forwards; /* Adjust duration (2s) as needed */
}

.floating-btn {
  position: fixed;
  bottom: 25px;
  right: 20px;
  z-index: 100;
  border-radius: 50%;
  padding: 5px 12px;
  font-size: 18px;
}
.floating-btn > .btn-icon {
  font-size: 30px;
}

.card-body {
  padding: 0;
  overflow-y: auto;
  max-height: 400px;
}

.chat-card {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 110;
  width: 350px;
  height: 420px;
}

.user-chat-div {
  display: flex;
  justify-content: end;
  margin: 5px 10px;
}
.user-chat-div .user-chat {
  color: white;
  font-size: 13px;
  text-align: left;
  max-width: 220px;
  padding: 5px 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #3a93cf;
}

/* @keyframes msgSlideInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.msg-slide-in-up {
  animation: msgSlideInUp .5s ease forwards;
} */

.response-chat-div {
  display: flex;
  justify-content: start;
  margin: 5px 10px;
}

.response-chat-div .response-chat {
  color: rgb(75, 73, 73);
  font-size: 13px;
  text-align: left;
  max-width: 220px;
  padding: 5px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: lightblue;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@keyframes chatboxSlideInUp {
  from {
    opacity: 0;
    transform: translateY(70px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.chatbox-slide-in-up {
  animation: chatboxSlideInUp .4s ease-out forwards; /* Adjust duration (2s) as needed */
}

@keyframes chatboxSlideOutDown {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(70px);
  }
}

.chatbox-slide-out-down {
  animation: chatboxSlideOutDown .2s ease forwards; /* Adjust duration (2s) as needed */
}

.products {
  height: 100vh;
  background-image: url('../public/pexels-fauxels-3184639.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
}
.products > .wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
}


.card-body::-webkit-scrollbar {
  width: 7px;
}

.card-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 5px;
}

.card-body::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 10px;
}

.card-body::-webkit-scrollbar-thumb:hover {
  background: #909090;
}